@font-face {
    font-family: "Gilroy-Bold";
    src: url(./FontsFree-Net-Gilroy-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./FontsFree-Net-Gilroy2.ttf) format("truetype");
}


html {
    font-family: 'Gilroy-Bold';
    box-sizing: border-box;
    font-size: 18px;
    scroll-behavior: smooth;
}

img[alt='menu'] {
    display: none;
}

body {
    padding-inline: 18vw;
    margin: 0;
}

em {
    color: gray;
    font-style: normal;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 3;
}

header span {
    display: none;
}

@media screen and (min-width: 450px) {
    header {
        background-color: rgba(255, 255, 255, 0.354);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-blend-mode: multiply;

    }

    @media screen and (min-width: 980px) {
        header {
            margin-inline: -18vw;
            padding-inline: 18vw;
        }
    }

}



nav ul {
    list-style: none;
    padding: 0;
    padding-block: 1.8rem 1.5rem;
    margin-bottom: 1.8rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
}

.hero {
    margin-bottom: 4rem;
}

.hero-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-block: 4vh 1rem;
}

.hero-info p {
    font-family: 'Gilroy-Medium';
    margin: 0;
    margin-bottom: 5px;
}

.hero-info span {
    rotate: -90deg;
    margin-bottom: 36px;
    margin-right: -26px;
}

h1 {
    font-size: 47.3392px;
    margin: 0;
    line-height: 59px;
    font-weight: normal;
}

.hero-photo {
    background-image: url(../img/horizont-men.jpg);
    height: calc(387px + 10vw);
    /* height: 387px; */
    background-position-x: center;
    margin-block: 1rem 1.8rem;
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    text-align: center;
    padding-block: 5rem;
}

#about-me {
    background-color:#F6F6F6;
    margin-inline: -18vw;
    box-shadow: inset 0 0 64px 2px #0000003d;
}

section p {
    font-family: 'Gilroy-Medium';
}

.programs {
    margin-block: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.programs p {
    color: #828282;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#portfolio {
    background-color: #F6F6F6;
    margin-inline: -18vw;
    box-shadow: inset 0 0 64px 2px #0000003d;
}


#portfolio img {
    margin-block: 3rem 1rem;
}

#portfolio p {
    text-decoration: underline;
    cursor: pointer;
}

.portfolio {
    display: flex;
    gap: 40px;
    padding-inline: 14vw;
    padding-block: 2rem;
    overflow-x: scroll;
}

.portfolio::-webkit-scrollbar-track {
    background-color: black;
}

.rusV {
    padding-bottom: 0;
}

#contacts button {
    display: block;
    margin-inline: auto;
}

#contacts img {
    margin-block: 2rem;
}

#contacts button {
    font-size: 1rem;
    border: none;
    background-color: black;
    color: white;
    padding: 0.6rem 1.3rem;
    border-radius: 30px;
    margin-bottom: 4rem;
    cursor: pointer;
    transition: 0.2s;
}

#contacts button:hover {
    color: #d2d2d2;
}

#contacts p:last-child {
    color: #828282;
}

a {
    color: inherit;
    text-decoration: none;
}




/* =============================
MEDIA 
=========== */

@media screen and (max-width: 980px) {

    header {
        padding-inline: 0.5rem;
    }

    body {
        padding-inline: 5vw;
    }

    section {
        margin-inline: 0;
    }

    #portfolio img {
        width: 60vw;
    }

    #about-me {
        margin-inline: 0;
    }
    #portfolio {
        margin-inline: 0;
    }
}

@media screen and (max-width: 450px) {
    header {
        position: fixed;
        transition: 0.6s;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 100vw;
    }

    nav ul li {
        margin-block: 1.5rem;
    }

    nav ul {
        font-size: 34px;
        padding-left: 2rem;
        justify-content: center;
        border: none;
        flex-direction: column;
    }

    #about-me,
    #portfolio {
        margin-inline: -5vw;
        padding-inline: 5vw;
    }

    .hero-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-info p {
        margin-top: 1.2rem;
    }

    .hero-info span {
        display: none;
    }

    .hero-photo {
        background-image: url(../img/very-men.png);
        height: 562px;
    }

    .programs {
        flex-direction: column;
    }

    img[alt='menu'] {
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 8vw;
        transition: 0.3s;
        width: 29px;
        aspect-ratio: 1/1;
    }

    header span {
        display: block;
        width: max-content;
        rotate: -90deg;
        font-size: 34px;
        position: absolute;
        right: 1rem;
        bottom: 5rem;
        /* margin-right: -30px; */
    }
}